/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-input {
  padding: 10px 20px 10px 42px;
  margin-top: 18px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  height: 40px;
  width: 448px;
}

.form .form-input:focus {
  border-color: var(--accent-color);
}

.form .form-field:focus-within svg {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop .modal .img {
  position: absolute;
  top: 8px;
  right: 8px;
}

.backdrop .modal .img:hover,
.backdrop .modal .img:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: scale(0.8) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  text-align: center;
  color: #757575;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .title {
  padding-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.backdrop .form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  display: block;
  color: var(--primary-text-color);
  position: absolute;
}

.form .form-field {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  margin-bottom: 28px;
}

.form .form-icon {
  position: absolute;
  top: 29px;
  left: 15px;
}

.form .form-comment {
  margin-top: 17px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;

  height: 120px;
  width: 448px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form .form-comment:focus {
  border-color: var(--accent-color);
}

.form-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-check .form-label-check {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox {
  margin-right: 5px;
}

.check-link {
  color: var(--accent-color);
}

/* Навигаия сайта */

.footer {
  background-color: #2f303a;
}

.footer .title {
  color: var(--accent-white-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 20px;
}

.footer .link {
  color: var(--primary-text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-style: normal;
}

.footer .container {
  padding-top: 0;
  padding-bottom: 0;
}

.footer .box-link {
  width: 231px;
  margin-right: auto;
}

.footer .box-link .footer-add ul .item:not(:last-child) {
  margin-bottom: 9px;
}

.connect {
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 72px;
}

.connect .connect-box {
  display: flex;
}

.connect .connect-box .item {
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connect .connect-box .item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.connect .connect-box .item .connect-icon {
  fill: var(--accent-white-color);
}

.connect .connect-box .item:hover,
.connect .connect-box .item:focus {
  background-color: var(--accent-color);
}

.connect .connect-box .item:not(:last-child) {
  margin-right: 10px;
}

.subskriber {
  width: 570px;
  margin-left: auto;
  margin-top: 72px;
}

.subskriber .ft-input {
  width: 340px;
  height: 50px;
  background-color: #2f303a;
  padding: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subskriber .subskriber-icon {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translate(0%, -50%);
}

.footer-box {
  display: flex;
}

address .maps {
  color: var(--accent-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Оформление плртфолио */

.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .title + p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.portfolio .item .img {
  position: relative;
}

.portfolio .info {
  color: var(--accent-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .item:hover .info,
.portfolio .item:focus .info {
  transform: translateY(-305px);
}

.portfolio > .item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio > .item {
  outline: 1px solid var(--background-pinc-color);
}

.portfolio .item .img {
  overflow: hidden;
}

.filter .press {
  display: flex;
  justify-content: center;
}

.filter {
  margin-bottom: 50px;
}

.press .item + .item {
  margin-left: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.clients .client-box {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: inline-flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  border: 1px solid #ccc;
  align-items: center;
  border-radius: 4px;
  fill: var(--primary-text-color);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-box .item .client-link {
  display: block;
  width: 170px;
  height: 90px;
}

.client-box .item {
  border-radius: 4px;
}

.client-box .item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
